<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
     <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/account.css"/>
</head>
<body  background="/static/img/back.jpg" style=" background-repeat:no-repeat ;background-size:100% 100%; background-attachment:fixed;">
<div class="login" style="color: #fff;">
    <div style="font-size: 25px; font-weight: bold;text-align: center;">
        Reset Password
    </div>
    <form role="form" action="/getpass/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">username </label>
           {{ obj.username }}{{ obj.errors.username.0 }}
        </div>
        <div class="form-group">
            <label for="password">new password </label>
            {{ obj.password }}{{ obj.errors.password.0 }}
        </div>
        <div> {{ er }}</div>
        <button type="submit" class="btn btn-default">Reset</button>
        <a href="/login/" class="btn btn-default" style="margin-left:20px;">Login</a>
         <button onclick="register();" type="button" style="position: relative;left: 30px;" class="btn btn-default">New user registration</button>
    </form>
</div>
    <script>
        function register() {
            location.href='/register/';
        }
    </script>
{{ s|safe }}
</body>
</html>